* {
    padding: 0;
    margin: 0;
}

body{
    background: #000000;
 
}
.btn{
    text-decoration: none;
    padding: 15px 40px;
    background-color: hsl(238, 84%, 74%);
    color: #fff;
    border-radius: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    box-shadow: 0 10px 40px hsl(238, 84%, 74%);
}
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255, 122, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.video-container .close{
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.video-container video{
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
}

.video-container.show{
    pointer-events: all;
    opacity: 1;
}
.video-container.show video{
    transform: scale(1);
}

.inicio{
    padding: 10px;
}

.wrapper {
  width: 90%;
  margin-left: 20px;
  overflow:hidden;
  padding: 10px;
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 110%;
    height: 120px;
    position: fixed;
    z-index: 10;
}

nav {
    float: right;
    padding: 12px;
}

nav ul {
    list-style: none;
    overflow: hidden; 
}

.logo{
    color: #fff;
    font-family: 'Pixelation';
    padding: 5px;
}

.glitch {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0.05em 0 0 #00ffff,
      -0.025em -0.05em 0 #ff00ff,
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.logo2{
    line-height : 25px;
    color: #ff00ff;
    margin-left: 60px;
    width: 10px;
}

.logo2 {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 30px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 5px #FF43F1 , 0 0 10px #FF43F1 , 0 0 10px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
  
.logo2:hover {
    text-shadow: 0 0 10px #8488f4 , 0 0 10px #8488f4, 0 0 10px rgba(255, 255, 255, 0.774) , 0 0 40px #8488f4 , 0 0 70px #8488f4 , 0 0 80px #8488f4 , 0 0 100px #8488f4;
}
  
nav ul li {
    float: left;
    font-family: 'Disket Mono';
    font-size: 16px;
}
  
nav ul li {
    display: block; 
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.ancla{
    display: block; 
    padding: 15px;
    color: #fff;
    text-decoration: none;

}
   .ancla:hover {
    background: #8488f4;
    border-radius:25px;
}

.contenido {
    padding-top: 150px;
    color: #fff;
}


h3 {
    margin: 30px;
    font-family: 'Montserrat Thin';
 } 
 
.en{
    margin: 30px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 0 5px #1FAED4 , 0 0 5px #1FAED4 , 0 0 5px rgba(255,255,255,1) , 0 0 40px #1FAED4 , 0 0 70px #1FAED4 , 0 0 80px #1FAED4 , 0 0 100px #1FAED4 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    
}

.en:hover{
     background:none;
}

 b{
    font-family: 'Montserrat Thin';
    font-size: 20px;

}
 
 h2 {
    font-family: 'Montserrat Thin';
    text-align: center;
    margin: 5px;
    color: #ffffff;
    text-shadow: 0 0 5px #1FAED4 , 0 0 5px #1FAED4 , 0 0 5px rgba(255,255,255,1) , 0 0 40px #1FAED4 , 0 0 70px #1FAED4 , 0 0 80px #1FAED4 , 0 0 100px #1FAED4 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  
.apa {
    width: 500px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #1FAED4;     
    box-shadow: 0 0 5px #1FAED4;
    font-family: 'Montserrat Thin';
}

.apa:hover {
    border:2px solid #21EF80;
}

.slider{
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider ul{
  display: flex;
  animation: cambio 10s infinite alternate;
  width: 200%;
 
}

.slider li{
  flex: 0 0 calc(100% / 2); 
  list-style: none;
}

.slider img{
  width: 75%;
  height: 75%;
  object-fit: cover;

}
@keyframes cambio {
  10% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  35% {
    margin-left: -50%;
  }
  40% {
    margin-left: -100%;
  }
  55% {
    margin-left: -150%; 
  }
  60% {
    margin-left: -200%; 
  }
  75% {
    margin-left: -250%; 
  }
  100% {
    margin-left: -300%; 
  }
 
}

@media only screen and (max-width: 768px) {
  .li {
    height: 100vh;
    flex-basis: 100%;
  }
  .ul {
    width: 100%;
  }
}

.sliderr {
    width: 100%; 
    height: 950px;
    overflow: hidden;
  }
  
  .ull {
    display: flex;
    animation: cambio 15s infinite alternate;
    width: 400%; 
    height: 90%;
  }
  
  .lii {
    flex: 0 0 calc(100% / 4); 
    list-style: none;
  }
  
  .sliderr img {
    width: 100%; 
    height: 95%;
    object-fit: cover;
  }
  
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    15% {
      margin-left: 0;
    }
    30% {
      margin-left: -100%;
    }
    45% {
      margin-left: -200%;
    }
    60% {
      margin-left: -300%; 
    }
    75% {
      margin-left: -400%; 
    }
    90% {
      margin-left: -500%; 
    }
    100% {
      margin-left: -600%; 
    }
  }
  
  @media only screen and (max-width: 768px) {
    .lii {
      height: 100vh;
      flex-basis: 100%;
    }
    .ull {
      width: 100%;
      
    }
  }



.des{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Disket Mono';
}


.h3{
    font-family: 'Disket Mono';
    text-align: center;
}
.ap{
    width: 800px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #1FAED4;     
    box-shadow: 0 0 5px #1FAED4;
    font-family: 'Montserrat Thin';
}
.cards{
    display: flex;
    justify-content: center;
}

.cards .card{
    background: #1FAED4;
    display: flex;
    width: 50%;
    height: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    margin: 0 30px;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #ffffff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 10px;
}